* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.web {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.head {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    span {
        position: fixed;
        right: 0;
    }
}

.con {
    width: 100%;
    height: 250px;
    img {
        width: 100%;
        height: 100%;
    }
}

.mainbody {
    flex: 1;
    overflow: hidden;
    .main {
        .pull {
            display: flex;
            section {
                width: 50%;
                border: 1px solid #ccc;
                dl {
                    text-align: center;
                    border-bottom: 1px solid #ccc;
                }
            }
        }
        .pullup {
            display: inline-block;
            width: 100%;
            height: 35px;
            border: 1px solid #ccc;
            text-align: center;
            line-height: 35px;
        }
    }
}